.wrapper
  = render "shared/header"
.contents
  #home.big-bg
    .home-content
      %h2.page-title Support your passion
      %p.page-sub-title あなたを支えるYouTubeクリエイターをプレゼンしませんか？ YouTuber応援コミュニティ。
      %a.button{href: "#"} プレゼンする