
.content-title {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
}
.form {
  .form-title {
    width: 50%;
    height: 40px;
    margin: 20px 0;
  }
  .form-text {
    width: 50%;
    height: 40px;
    margin: 20px 0;
  }
  .form-btn {
    width: 50%;
    height: 40px;
  }
}